@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Employee Management System</h1>
    <p>Please go for Login</p>

    <a class="navbar-brand" asp-area="" asp-controller="Register" asp-action="Login">Login</a>
    <a class="navbar-brand" asp-area="" asp-controller="Register" asp-action="Create">Register</a>
    
</div>
